ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
   	text-align: right ;
    display: inline;
    color: ;
}

body img {
	display: block;
	margin-left: auto;
	margin-right: auto
}

body div form {
	display: block;
	margin-left: 10em;
	margin-right: auto
}